@model Person

<div class="row">
    <div class="col-2">@Model.Id</div>
    <div class="col-2">@Model.FirstName</div>
    <div class="col-2">@Model.LastName</div>
    <div class="col-2">@Model.Age</div>
    <div class="col-2">@Model.City</div>
    <div class="col-2">@Model.Phone</div>
</div>