@model Person
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Details page</h1>

<dl>
    <dt>ID</dt>
    <dd>@Model.Id</dd>

    <dt>Name</dt>
    <dd>@Model.FullName</dd>
    @*<dd>@Model.FirstName @Model.LastName</dd>*@

    <dt>Age</dt>
    <dd>@Model.Age</dd>

    <dt>City of birth</dt>
    <dd>@Model.City</dd>

    <dt>Phone</dt>
    <dd>@Model.Phone</dd>
</dl>