@model List<Person>;
<h3>Data</h3>
<table>
    <tr>
        <th>
            <p>ID</p>
        </th>
        <th>
            <p>First Name</p>
        </th>
        <th>
            <p>Last Name</p>
        </th>
        <th>
            <p>Full Name</p>
        </th>
        <th>
            <p>Age</p>
        </th>
        <th>
            <p>City</p>
        </th>
        <th>
            <p>Phone</p>
        </th>
        <th>
            <p>
                Details
            </p>
        </th>
    </tr>

    <br />
    <partial name="SearchPerson" model="Model"></partial>
    <br />

    @foreach (Person person in Model){

        <partial name="PartialPeople" model="person"></partial>


        @*<tr>
            <td>
                @person.Id
            </td>
            <td>
                @person.FirstName
            </td>
            <td>
                @person.LastName
            </td>
            <td>
                @person.FullName
            </td>
            <td>
                @person.Age
            </td>
            <td>
                @person.City
            </td>
            <td>
                @person.Phone
            </td>
        </tr>*@
        @*@Html.ActionLink("Details","PersonDetails","Person", new {id = p.id}) @Html.ActionLink("Delete","Delete","Person", new {id = p.id})*@
    }

</table>
<br />

@*Add buttons to sort the list on the page.
o Sort in alphabetical order and reverse alphabetical order, by name or by city.
• Add a checkbox which determines whether the filtering should be:
o case sensitive or not.
o Exact or contains.
o city name or person name*@
<button type="button" onclick="">
    Sort the list.
</button>



