@model List<Person>;
<h3>Data</h3>
<table>
    <tr>
        <th>
            <p>ID</p>
        </th>
        <th>
            <p>First Name</p>
        </th>
        <th>
            <p>Last Name</p>
        </th>
        <th>
            <p>Full Name</p>
        </th>
        <th>
            <p>Age</p>
        </th>
        <th>
            <p>City</p>
        </th>
        <th>
            <p>Phone</p>
        </th>
        <th>
            <p>
                Details
            </p>
        </th>
    </tr>

    @foreach (Person person in Model){
        <tr>
            <td>
                @person.Id
            </td>
            <td>
                @person.FirstName
            </td>
            <td>
                @person.LastName
            </td>
            <td>
                @person.FullName
            </td>
            <td>
                @person.Age
            </td>
            <td>
                @person.City
            </td>
            <td>
                @person.Phone
            </td>
        </tr>
        @*@Html.ActionLink("Details","PersonDetails","Person", new {id = p.id}) @Html.ActionLink("Delete","Delete","Person", new {id = p.id})*@
    }
</table>
<br />
<button type="button" onclick="">
    Sort the list.
</button>  